.main__container{
	/*display: flex;
	flex-direction: row*/
	width: 500vw;
	height: 90vh;
	display: flex
}

.main__slide{
	height: 90vh;
	width: 100%;
	display: inline-block;

}

#lobby{

	background-image: url("../img/lobby.jpg");
	background-color: red;
	background-size : 100vw 90vh;
	/*background-repeat: no-repeat;*/


}

#about_us{
	background-color: blue;
}

#gallery{
	background-color: grey;
}

#agenda{
	background-color: yellow;
}

#contact{
	background-color: green;
}
.footer__corail{
	background-color: #4594b5;
	width: 100vw;
	height: 10vh;
	background-position: bottom;
	text-align: center;
	padding: 10px;
	color: #FFF;
	position: fixed;
}

.footer__corail ul{
	list-style: none;
}

.footer__corail li{
	display: inline;
	padding: 10px;

}

.footer__corail li a{
	color: #FFF;
	text-decoration: none;
}
